@page "/Admin"
@inject NavigationManager NavigationManager

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Dapper1.Models

@inject IIssueData _IssueDb

<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidenav">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Menu</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            @*<li>This is a Sidebar Item</li>*@
            <li>
                <a href="./adminissues" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" /></svg>
                    Issues
                </a>
            </li>
            <li>
                <a href="./adminresponseall" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" /></svg>
                    Responses
                </a>
            </li>
            <li>
                <a href="/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" /></svg>
                    Logout
                </a>
            </li>
        </ul>
    </div>


    <div class="px-5 d-flex flex-column align-items-center w-100 ">
        <div class="heading mt-3">
            INDUSTRY-INSTITUTE INTERFACE [I<sup>3</sup>]
        </div>
    </div>


</div>

@code{
}