@inherits LayoutComponentBase

<PageTitle>Dapper1</PageTitle>

<div class="page">
    <main id="image">

        <header>
            <div class="header">
                <img src="images/tiet.jpg" style="float:rleft" width="250" height="45">
                <img src="images/ppcb.jpg" style="float:right" height="43">
            </div>
        </header>

        
                <div class="bodycont">
                    @Body
                </div>
          


        <footer>
            <div class="footer">
                <p class="footer-text">
                    © Copyright: <a style="color: white" href="https://www.thapar.edu" target="_blank">
                        Thapar
                        Institute of Engineering and Technology
                    </a>
                </p>
            </div>
        </footer>


    </main>
</div>
